{% extends 'base2.html' %}

<title>{% block head_title %} About Author {% endblock %}</title>


{% block content %}
    <article class="media content-section">
        <div class="article-content">
            <h2 class="font-serif">About my Training so far at The Zuri Team</h2>
            <p class="font-serif lh-5" style="font-size: 17px;">Hello there, i am Olowu Abayomi by name. I am a computer science graduate currently interning at one 
                of the known software development training sectors in Nigeria known as <b>The Zuri Team</b>. Over the last few months, <b>Zuri sponsored 
                by Ingressive4Good</b> have put together resources to give maximum and modern It trainings in frontend, 
                backend web development, mobile app development and Ui/Ux trainings for those who are willing to 
                transition from various careers into tech but don't know how to begin or are finacially handicaped to afford the trainings at some of the 
                tech training centres. Mind you the trainees at <b>Zuri</b> are getting all these for free, thanks to <b>Ingressive4Good</b> for the sponsor. The trainings has been top-notch so far. This particular blog 
                was developed by me as given as a task aimed at preparing the trainees for the real world job experience.
                I am in the <b>Python backend track</b> and my aim is to become a backend web developer and so far so good, 
                i'm developing my skills at a good pace. This Blog was developed with Python, Django Framework, sqlite3 database, html, 
                a little bit of css and Bootstrap(Css framework).
                I'll be looking forward to work collaborations and projects so as to develope myself more on the job and getting ready and 
                fit to solving job problems out there.
                To see more of the tasks which i've accomplished so far, you can check on my 
                <a href="https://www.github.com/aayobam">Github Page</a>, you can also connect with me on 
                <a href="https://www.twitter.com/yungelda">Twitter</a>, as well as <a href="https://www.linked.com/in/aayobam">LinkedIn</a> ,
                Thank you.
                </p>
        </div>
    </article>
{% endblock content %}